

//  .headerNav {
//      background-color: #122;
//      height: 60px;
//      color: #90caf9;
//      font-size: 12px;
//      font-family: "PT Sans", Arial, Helvetica, sans-serif;
//      display: flex;
//      align-items: center;
//  }

//  .both {
//      display: flex;
//  }

//  .back {
//      padding: 0 20px;
//  }

//  .both:hover {
//      color: #80b9c8;
//  }

//  .outerLink {
//      padding: 0 40px;
//      a {
//      color: #aaa;
//     }
//     a:hover {
//         color: rgb(53, 53, 207);
//     }
//  }

//  .mediaSize {
//      padding: 0 20px;
//  }

//  .medias {
//      padding: 0 10px;
//      a {
//      color: #aaa;
//     }
//     a:hover {
//         color: rgb(53, 53, 207);
//     }
//  }

//  .buyCar {
//      width: 200px;
//      height: 40px;
//      background-color: #e40;
//      font-size: 14px;
//      border-radius: 5px;
//      text-align: center;
//      padding-top: 10px;
//      text-decoration: none;
//      a {
//      color: #fff;
//     }
//  }

//  .buyCar:hover {
//      background-color: rgba(255, 99, 71, 0.815);
//  }

//  .chat {
//      width: 200px;
//      height: 40px;
//      border-radius: 3px;
//      text-align: center;
//      padding-top: 10px;
//      margin: auto;
//      /* margin-left: 20px; */
//      border: 1px solid #aaa;
//      a {
//         font-size: 14px;
//         color: #aaa;
//         text-decoration: none;
//     }
//  }

//  .chat:hover {
//      background-color: #fff;
//  } 

//  .dollor {
//      margin: auto;
//      color: #76d48f;
//  }

//  .services {
//      width: 200px;
//      height: 60px;
//      padding-top: 20px;
//      border-radius: 3px;
//      background-color: #689;
//      text-align: center;
//      font-size: 14px;
//      a {
//         color: #bbb;
//         text-decoration: none;
//     } 
//     a:hover {
//      color: rgb(53, 53, 207);
//     }
//  }

 

//  .btn {
//      margin: auto; 
        
//     button {
//     background-color: transparent;
//     border: transparent;
//     color: #ccc;
//     }
//     button:hover{     
//          color: rgb(53, 53, 207);
//      }
// }
.topHeader{
    background-color: #eee;
    padding: 10px 0px 2px ;
    button{
        font-size: 20px;
        background-color: transparent;
        border: transparent;
    }  
    input{
        background-color: transparent;
        border: transparent;
    } 
    .shopcar i:hover{
        color: pink; 
    }
    .search i:hover{
        color: pink;
    }
    #menu-control {
        position: absolute;
        left: -100px;
    }
    nav{
        display: none;
    }
    input:checked~nav{
        display: block;
    }
}
.menu-btn{
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    span{
        position: absolute;
        height: 3px;
        width: 20px;
        background-color: #000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;        
    }
    span:nth-child(1) {
        transform: translateY(-6px);
    }
    span:nth-child(3) {
        transform: translateY(6px);
    }    
}
.menu {
    button{
        display: inline;
    }
    a{
        color: #000;
        text-decoration: none;
        font-size: 14px;
    }
    a:hover{
        color: pink;
    }
}
.container{
    flex-direction: column;
    text-align: center;
    .links i{
        color:#ccc;        
        margin:30px 5px 0 5px;
    }
    .links i:hover{
        color: #000;
    }
}
// li+li::before{           
//     content: '/';
//     margin: 0 10px;
// }
.navbar-brand{
    color: #000;
}
.nav-item {    
   a {
       color: #000;
    }    
   a:hover{
       color: pink;
   }    
}
.home a{
    color: pink;
}
.picBtn{
    background-color: #fff;
    color: #000;
    margin-top: -70px;
    border: none;
    a{
        width: 160px;
        height: 70px;
        background-color: #fff;
    }
    a:hover{
        background-color: #000;
        color: #fff;
        transition: .5s;
    }
}

.txtChoice {
    padding: 50px 0;
    a:hover{
        text-decoration: none;
        transform: scale(1.2);
        transform: all .2s;
    }
    p{
        color: #000;
    }
    .new h1{
        color: #7dd0dc;
    }
    .we h1{
        color: #d4bcb5;
    }
    .on h1{
        color: #ffa488;
    }
    .txtSell::before{        
        content: '______________________▁▁____________________';
    }
    .txtSell::after{
        color: #ccc;
        content: '_____________________________________________';
    }
   
}
.hairPic img{
     
}